<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @topic.created_by.email %>
</p>

<p>
  <strong>Last edited by:</strong>
  <%= @topic.last_edited_by.email %>
</p>

<% if can? :update, @topic %>
  <%= link_to 'Edit', edit_topic_path(@topic) %>
<% end %>

<div class="row" style="padding-top: 20px">
  <div class="col-md-12 text-xs-right" style="padding-bottom: 10px">
    <%= link_to 'New Post', new_topic_post_path(@topic), :class => 'btn btn-primary' %>
  </div>
  <div class="col-md-12">
    <table class="table">
      <thead class="thead-inverse">
      <tr>
        <th><%= link_to 'Topic', root_path, :style => 'color:white' %> > <%= @topic.title %></th>
        <th>Starter</th>
        <th>Replies</th>
        <th>Views</th>
      </tr>
      </thead>
      <tbody>
      <% @topic.posts.each do |post| %>
          <tr>
            <td><%= link_to post.title, topic_post_path(@topic, post) %></td>
            <td><%= post.created_by.email %></td>
            <td>10</td>
            <td>100</td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
