<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= form_for([topic, post],:html => { :multipart => true })  do |f| %>
      <% if post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
          <% post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <% if topic.title == 'Marketplace' %>
          <%= f.label 'Price' %>
        <% else %>
          <%= f.label :title %>
        <% end %>
        <%= f.text_field :title, class: 'form-control'%>
      </div>

      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, :class => "tinymce form-control", :rows => 5 %>
        <%= tinymce %>
      </div>
        <%= f.hidden_field :topic_id %>

      <!--<div class="form-group">-->
        <%# f.label :post_type_id %>
        <%= hidden_field(:post, :post_type_id, :value => 3) %>
        <%# f.collection_select(:post_type_id, PostType.all, :id, :name) %>
      <!--</div>-->
      <div class="form-group">
        <label>My Avatar</label>
        <%= image_tag(post.avatar_url, class: 'img-thumbnail', style:'width:200px') if post.avatar? %>
        <%= f.file_field :avatar, class: 'form-control-file'%>
        <%= f.hidden_field :avatar_cache %>
      </div>
        <%= f.submit 'Submit', class: 'btn btn-success'%>
    <% end %>
  </div>
</div>