<%= form_for([topic, post],:html => { :multipart => true })  do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="field">
    <%= f.hidden_field :topic_id %>
  </div>

  <div class="field">
    <%= f.label :post_type_id %>
    <%= f.collection_select(:post_type_id, PostType.all, :id, :name) %>
  </div>

  <div class="field">
    <label>My Avatar</label>
    <%= image_tag(post.avatar_url) if post.avatar? %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
