<!--<p id="notice"><%= # notice %></p>-->

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body.html_safe %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @post.created_by.email %>
</p>

<p>
  <strong>Last edited by:</strong>
  <%= @post.last_edited_by.email %>
</p>

<% if can? :update, @post %>
  <%= link_to 'Edit', edit_topic_post_path(@post.topic, @post) %> |
<% end %>

<%= link_to 'Back', topic_path(@post.topic) %>

<h1>Comments</h1>

<div class="media">
  <a class="media-left" href="#">
    <img class="media-object" src="..." alt="Generic placeholder image">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
  </div>
</div>

<table>
  <thead>
  <tr>
    <th>Message</th>
    <th>Created by</th>
    <th>Last edited by</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @comments.each do |comment| %>rake
      <tr>
        <td><%= comment.message.html_safe %></td>
        <td><%= comment.created_by.email %></td>
        <td><%= comment.last_edited_by.email %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>

<%= form_for(@comment) do |f| %>
    <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

          <ul>
            <% @comment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.text_area :message, :class => "tinymce", :rows => 5, :cols => 60 %>
    </div>

    <div class="field">
      <%= hidden_field(:comment, :post_id, :value => @post.id) %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

