<div style="padding-bottom: 15px" class="row text-xs-center">
  <%= render partial: 'layouts/menu' %>
</div>
<div class="row text-xs-center" style="padding-bottom: 30px">
  <h1>Marketplace
    <% if current_user && (current_user.regular? || current_user.admin?) %>
        <% @topic = Topic.find_by(title: 'Marketplace') %>
        <%= link_to 'Add product', new_topic_post_path(@topic), :class => 'btn btn-primary' %>
    <% end %>
  </h1>
</div>
<div class="row">
  <div class="col-md-6 offset-md-3" style="padding-bottom:15px">
    <%= form_tag(marketplace_index_path, method: "get") do %>
        <div class="form-group col-md-9">
          <%= text_field_tag(:q , '',class: 'form-control') %>
        </div>
        <div class="col-md-3">
          <%= submit_tag("Search",class: 'btn btn-success btn-block') %>
        </div>
    <% end %>
  </div>
</div>
<div class="row">
  <% if @market.present? %>
      <% @market.each do |post| %>
          <div class="col-md-4">
            <div class="card">
              <% if post.avatar.present? %>
                  <img class="card-img-top" style="width: 100%; height: 200px" src="<%= post.avatar.url %>" alt="Image cannot load">
              <% else %>
                  <img class="card-img-top" style="width: 100%; height: 200px" src="http://1.bp.blogspot.com/-Zr0pmj1bLnM/Uhh7kROhGYI/AAAAAAAAGkE/W51xFS75-Ec/s1600/no-thumbnail.png" alt="Image cannot load">
              <% end %>
              <div class="card-block">
                <h2 class="card-title text-xs-center" style="color: #d21f30"><%= post.title %> Baht</h2>
                <p class="card-text"><%= strip_tags(post.body) %></p>
                <%= link_to 'See details', topic_post_path(post.topic_id, post), class: 'btn btn-success btn-block' %>
              </div>
            </div>
          </div>
      <% end %>
  <% end %>
</div>

