<!DOCTYPE html>
<html>
  <head>
    <title>Footballry - Community for football</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= tinymce_assets %>
    <script>
      $(document).on('turbolinks:load', function(){
        tinyMCE.editors = [];
        tinyMCE.init({
          selector: "textarea.tinymce",
          menubar: false,
          toolbar: ["undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"],
          plugins: ['advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste code']
        });
      });
    </script>
  </head>

  <body>
    <%= render partial: 'layouts/header' %>
    <div class="main container">
      <%= render partial: 'shared/flash_messages', flash: flash %>
      <%= yield %>
    </div>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
